[workspace]
members = ["programs/*"]
resolver = "2"

[patch.crates-io]
# Используем Git как альтернативный источник, чтобы обойти ошибку "same source"
constant_time_eq = { git = "https://github.com/cesarb/constant_time_eq", rev = "ac26804" }
