[workspace]
members = [
    "programs/orbital_pulse"
]

[profile.release]
overflow-checks = true
lto = "fat"
codegen-units = 1
panic = "abort"

[profile.release.build-override]
opt-level = 3
пусто, так как зависимости определяются в подпапках программ
