[workspace]
members = ["programs/*"]
resolver = "2"

[patch.crates-io]
# Мы перенаправляем зависимость на локальную папку, которую создадим в workflow
constant_time_eq = { path = "./fix/constant_time_eq" }
