[workspace]
members = ["programs/*"]
resolver = "2"

[patch.crates-io]
# Уточняем версию до конкретного значения, чтобы избежать двусмысленности
constant_time_eq = { package = "constant_time_eq", version = "=0.3.1" }
